[submodule "tools/xboxrecomp"]
	path = tools/xboxrecomp
	url = https://github.com/NoRain211/xboxrecomp.git
	branch = codex/doa3-recipe
[submodule "third_party/smaa"]
	path = third_party/smaa
	url = https://github.com/iryoku/smaa.git
